<h1>Dashboard</h1>
<p>Welcome to your admin panel</p>
<nav>
    <a href="/dashboard/artists">artists</a>
    <a href="/dashboard/createArtist">artist +</a>
    <a href="/dashboard/labels">labels</a>
    <a href="/dashboard/createLabel">label +</a>
    <a href="/dashboard/styles">styles</a>
    <a href="/dashboard/createStyle">style +</a>
</nav>